.registerSection {
    position: relative;
    max-width: 25rem;
    margin: 2rem auto;
    padding: 1.25rem;
    border: 0.2rem solid #ddd;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-2.2rem);
    animation: fadein 0.6s ease forwards;

}
@keyframes fadein {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.registerTitle {
    text-align: center;
    margin-bottom: 1.25rem;
}
.registerForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.registerInput {
    padding: 0.2rem;
    border: 0.2rem solid #ccc;
    border-radius: 0.2rem;
}
#registerButton {
    padding: 0.5rem;
    background-color: #99ff99;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
#registerButton:hover {
    background-color: #4CAF50;
}
.errorRegister {
    color: red;
    margin-top: 1.2rem;
    text-align: center;
}
.successRegister {
    color: lime;
    margin-top: 1.2rem;
    text-align: center;
}
.backButton {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    text-decoration: underline;
}
.animation {
    animation: animation 0.8s ease forwards;
}
@keyframes animation {
    to {
        opacity: 0;
        transform: scale(1);
    }
}